*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

mavenproject1/target/surefire-reports/**
mavenproject1/target/test-classes/.netbeans_automatic_build
mavenproject1/target/classes/.netbeans_automatic_build
